
.navbar {
      background-color: yellowgreen;
 }
 
 
.limpeza{
     background-color: blueviolet;
}

.margin{
  padding-top: 50px;
  padding-bottom: 50px; 
}
p{
  text-align: center;
}
  



    
   